@using Devrekani_Sehitler_Kutuphanesi.Models.Entity
@model List<TBL_HAREKET>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Emanete Verilmiş Kitaplar</h2>

<table class="table table-bordered">
    <tr>
        <th>İşlem ID</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Kitabın Veriliş Tarihi</th>
        <th>Beklenen İade Tarihi</th>   
        <th>Durumu</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.TBL_KITAP.AD</td>
            <td>@k.TBL_UYELER.AD&nbsp;@k.TBL_UYELER.SOYAD </td>
            <td>@k.TBL_PERSONEL.PERSONEL</td>
            <td>@Convert.ToDateTime(k.ALISTARIHI).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(k.IADETARIHI).ToString("dd/MM/yyyy")</td>
            <td><a href="/Emanetler/odunciade/@k.ID" class="btn btn-danger">Kitabı Teslim Al</a> </td>
        </tr>
    }


</table>
