@using MvcKutuphane.Models.Entity
@model List<Authors>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazarlar</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Detay</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var author in Model)
    {
        <tr>
            <td>@author.Id</td>
            <td>@author.Name</td>
            <td>@author.Surname</td>
            <td>@author.Detail</td>
            <td>@Html.ActionLink("Sil", "AuthorDelete", new { id = author.Id },new {@class="btn btn-danger",onclick="return confirm('Silmek istiyor Musunuz')"})</td>
            <td><a href="/Author/AuthorGet/@author.Id" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>
<a class="btn btn-primary" href="/Author/AuthorAdd/">Yeni Yazar Ekle</a>
