
@{
    ViewBag.Title = "Kartlar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kartlar</h2>

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Devrekani Şehitler Kütüphanesi</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/web3/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- font-awesome-icons -->
    <link href="~/web3/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <!-- banner -->
    <div class="clearfix"></div>

    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-book" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.dgr1</h4>
                    <h3 class="ca-sub">Toplam Kitap Sayımız</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.dgr2</h4>
                    <h3 class="ca-sub one">Toplam Üye Sayısı</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-money" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.dgr3</h4>
                    <h3 class="ca-sub two">Kasadaki Tutar</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-apple" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.dgr4</h4>
                    <h3 class="ca-sub three">Emanetteki Kitap Sayısı</h3>
                </div>
            </a>
        </li>

    </ul>

    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-list" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.dgr5</h4>
                    <h3 class="ca-sub">Kategori Sayısı</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-language" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">Tayfun Ünal*</h4>
                    <h3 class="ca-sub one">En Aktif Üye</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-database" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">C# Programlama*</h4>
                    <h3 class="ca-sub two">En Çok Okunan Kitap</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-sticky-note" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.dgr8</h4>
                    <h3 class="ca-sub three">En Fazla Kitabı Olan Yazar</h3>
                </div>
            </a>
        </li>

    </ul>
    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-barcode" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.dgr9 *</h4>
                    <h3 class="ca-sub">En Çok Kitabı Bulunan Yayınevi</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bitcoin" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">Devrim Mehmet*</h4>
                    <h3 class="ca-sub one">En Aktif Personel</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.dgr11</h4>
                    <h3 class="ca-sub two">Toplam Destek Talebi</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">1923*</h4>
                    <h3 class="ca-sub three">Bugünkü Emanetler</h3>
                </div>
            </a>
        </li>

    </ul>
</body>
</html>

