@model Devrekani_Sehitler_Kutuphanesi.Models.Entity.TBL_KITAP
@{
    ViewBag.Title = "KitapEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Ekle</h2>
<form class="form-group" method="post">

    <div style="margin-top:15px">
        <label>Kitap Adı</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })

    </div>
    <div style="margin-top:15px">
        <label>Kategori</label>
        @Html.DropDownListFor(k => k.TBL_KATEGORI.ID, (List <SelectListItem>) ViewBag.dgr1, new {@class="form-control"})

    </div>
    <div style="margin-top:15px">
        <label>Yazar</label>
        @Html.DropDownListFor(k => k.TBL_YAZAR.ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })

    </div>
    <div style="margin-top:15px">
        <label>Baskı Yılı</label>
        @Html.TextBoxFor(k => k.BASKIYILI, new { @class = "form-control" })

    </div>
    <div style="margin-top:15px">
        <label>Yayınevi</label>
        @Html.TextBoxFor(k => k.YAYINEVI, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Sayfa Sayısı</label>
        @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Kitap Ekle</button>
    </div>
   <input type="hidden" name="Durum" value="True" />
</form>

