@using MvcKutuphane.Models.Entity
@model List<Books>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Sayfası</h2>
@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px;">
   <b>Aranacak Kitabı Girin: &nbsp; </b> @Html.TextBox("p")   
        <input type="submit" value="Ara" />
    </div>

    }
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Kitap Adı</th>
            <th>Kitap Yazarı</th>
            <th>Kategorisi</th>
            <th>Basım Yılı</th>
            <th>Yayınevi</th>
            <th>Sayfa Sayısı</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Name</td>
                <td>@book.Authors.Name &nbsp; @book.Authors.Surname</td>
                <td>@book.Categories.Name</td>
                <td>@book.PublicationYear</td>
                <td>@book.Publisher</td>
                <td>@book.Page</td>
                <td>@book.State</td>
                <td><a href="/Book/BookDelete/@book.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Book/BookGet/@book.Id" class="btn btn-success">Güncelle</a></td>
            </tr>

        }

    </table>
<a href="/Book/BookAdd/" class="btn btn-primary">Yeni Kitap Ekle</a>
