@using Devrekani_Sehitler_Kutuphanesi.Models.Entity;
@model List<TBL_KITAP>
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Yazarı: @ViewBag.y1</h2>

<br />
<table class=" table table-striped">
    <tr>
        <th>ID</th>
        <th>Kitap  Adı</th>
        <th>Kategori</th>
        <th>Yayınevi</th>
    </tr>
    @foreach(var x in Model)
    {
<tr>
    <td>@x.ID</td>
    <td>@x.AD</td>
    <td>@x.TBL_KATEGORI.AD</td>
    <td>@x.YAYINEVI</td>
</tr>
    }

</table>