@model Devrekani_Sehitler_Kutuphanesi.Models.Entity.TBL_UYELER
@{
    ViewBag.Title = "UyeGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üye Güncelleme Sayfası</h2>

@using (Html.BeginForm("UyeGuncelle", "Uyeler", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">

        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control", @readonly=true })
        <br />
        <label>Üye Adı</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control",@maxlength="20" })
        <br />
        <label>Üye Soyadı</label>
        @Html.TextBoxFor(k => k.SOYAD, new { @class = "form-control" ,@maxlength="20"})
        <br />
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(k => k.KULLANICIADI, new { @class = "form-control",@maxlength="30" })
        <br />
        <label>Şifre</label>
        @Html.TextBoxFor(k => k.SIFRE, new { @class = "form-control",@maxlength="30" })
        <br />
        <label>Mail Adresi</label>
        @Html.TextBoxFor(k => k.MAIL, new { @class = "form-control",@maxlength="50" })
        <br />
        <label>Okulu</label>
        @Html.TextBoxFor(k => k.OKUL, new { @class = "form-control",@maxlength="100" })
        <br />
        <label>Telefon</label>
        @Html.TextBoxFor(k => k.TELEFON, new { @class = "form-control",@maxlength="20" })
        <br />
        <label>Üye Fotoğrafı</label>
        @Html.TextBoxFor(k => k.FOTOGRAF, new { @class = "form-control" ,@maxlength="250"})
        <br />
    </div>
    <div>
        <button class="btn btn-warning">Üye Bilgilerini Güncelle</button>

    </div>
}