@using Devrekani_Sehitler_Kutuphanesi.Models.Entity
@model List<TBL_HAREKET>
@{
    ViewBag.Title = "UyeKitapGecmis";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üye : @ViewBag.u1</h2>
<br />
<table class="table table-danger">
    
    <tr>
        <th>Kitap Adı</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
       
    </tr>
    @foreach(var x in Model)
    {
<tr>
    <td>@x.TBL_KITAP.AD</td>
    <td>@x.TBL_PERSONEL.PERSONEL</td>
    <td>@Convert.ToDateTime(x.ALISTARIHI).ToString("dd/MM/yyyy")</td>
    <td>@Convert.ToDateTime(x.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>

</tr>
    }

</table>
