@using Devrekani_Sehitler_Kutuphanesi.Models.Entity
@model List<TBL_HAREKET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Geçmiş Hareketler</h2>

<table class="table table-bordered">
    <tr style="background-color:rgb(252,178,22)">
        <th>İşlem ID</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Kitabın Veriliş Tarihi</th>
        <th>Üye İade Tarihi</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.TBL_KITAP.AD</td>
            <td>@k.TBL_UYELER.AD&nbsp;@k.TBL_UYELER.SOYAD </td>
            <td>@k.TBL_PERSONEL.PERSONEL</td>
            <td>@Convert.ToDateTime(k.ALISTARIHI).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(k.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>
            <td><a href="/Emanetler/odunciade/@k.ID" class="btn btn-danger" style="">Detaylar</a> </td>
        </tr>
    }


</table>


