@using Devrekani_Sehitler_Kutuphanesi.Models.Entity
@model List<TBL_KITAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitaplar</h2>
@using (Html.BeginForm("Index", "Kitaplar", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px;">
    <b>Aranacak Kitap Adını Giriniz:&nbsp;</b>
        @Html.TextBox("p")
        <input type="submit" value="Ara" />
        @*<input type="text" class="form-control" placeholder="Kitap Ara..."  />*@
    </div>
}
<table class="table table-bordered">
    <tr style="background-color:rgb(252,178,22)">
        <th>ID</th>
        <th>Adı</th>
        <th>Yazarı</th>
        <th>Kategorisi</th>
        <th>Baskı Yılı</th>
        <th>Yayınevi</th>
        <th>Sayfa Sayısı</th>
        <th>Durumu</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.AD</td>
            <td>@k.TBL_YAZAR.AD&nbsp;@k.TBL_YAZAR.SOYAD </td>
            <td>@k.TBL_KATEGORI.AD</td>
            <td>@k.BASKIYILI</td>
            <td>@k.YAYINEVI</td>
            <td>@k.SAYFA</td>
            <td>@k.DURUM</td>
            <td>@Html.ActionLink("Sil", "KitapSil", new { id = k.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor Musunuz ?')" })  </td>
            <td><a href="/Kitaplar/KitapGetir/@k.ID" class="btn btn-success">Güncelle</a> </td>
        </tr>
    }


</table>
<a href="/Kitaplar/KitapEkle" class="btn btn-primary">Yeni Kitap Ekle</a>