@model Devrekani_Sehitler_Kutuphanesi.Models.Entity.TBL_KITAP
@{
    ViewBag.Title = "KitapGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}
    <h2>Kitap Güncelleme Sayfası</h2>
@using (Html.BeginForm("KitapGuncelle", "Kitaplar", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>ID</label>
            @Html.TextBoxFor(k => k.ID, new { @class = "form-control" , @readonly="true" })
        </div>
        <div style="margin-bottom:15px">
            <label>Adı</label>
            @Html.TextBoxFor(k => k.AD, new { @class = "form-control",@maxlength="50" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kategorisi</label>
            @Html.DropDownListFor(k => k.TBL_KATEGORI.ID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yazarı</label>
            @Html.DropDownListFor(k => k.TBL_YAZAR.ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Baskı Yılı</label>
            @Html.TextBoxFor(k => k.BASKIYILI, new { @class = "form-control", @maxlength="4"})
        </div>
        <div style="margin-bottom:15px">
            <label>Yayınevi</label>
            @Html.TextBoxFor(k => k.YAYINEVI, new { @class = "form-control",@maxlength="50"  })
        </div>
        <div style="margin-bottom:15px">
            <label>Sayfa Sayısı</label>
            @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control" ,@maxlength="4" })
        </div>

        <button class="btn btn-warning">Kitap Bilgilerini Güncelle</button>
        <input type="hidden" name="Durum" value="True" />
    </div>
}

