@model MvcKutuphane.Models.Entity.Books

@{
    ViewBag.Title = "BookGet";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("BookUpdate", "Book", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Kitap Id</label>
            @Html.TextBoxFor(book => book.Id, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Adı</label>
            @Html.TextBoxFor(book => book.Name, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kategori</label>
            @Html.DropDownListFor(book => book.Categories.Id, (List<SelectListItem>)ViewBag.value1, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yazarı</label>
            @Html.DropDownListFor(book => book.Authors.Id, (List<SelectListItem>)ViewBag.value2, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Basım Yılı</label>
            @Html.TextBoxFor(book => book.PublicationYear, new { @class = "form-control" })
        </div> 
        <div style="margin-bottom:15px">
            <label>Yayınevi</label>
            @Html.TextBoxFor(book => book.Publisher, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Sayfa Sayısı</label>
            @Html.TextBoxFor(book => book.Page, new { @class = "form-control" })
        </div> 
     
        <button class="btn btn-warning">Kitap Bilgilerini Güncelle</button>
    </div>

}