@model Devrekani_Sehitler_Kutuphanesi.Models.Entity.TBL_HAREKET

@{
    ViewBag.Title = "Odunciade";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Teslim Alma Sayfası</h2>

@using (Html.BeginForm("OduncGuncelle", "Emanetler", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>Hareket ID</label>
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control",@readonly="true" })
        <br />
        <label>Kitap Adı</label>
        @Html.TextBoxFor(k => k.TBL_KITAP.AD, new { @class = "form-control",@readonly="true" })
        <br />
        <label>Üye</label>
        @Html.TextBoxFor(k => k.TBL_UYELER.AD, new { @class = "form-control" ,@readonly="true"})
        <br />
        <label>Personel</label>
        @Html.TextBoxFor(k => k.TBL_PERSONEL.PERSONEL, new { @class = "form-control" })
        <br />
        <label>Alış Tarihi</label>
        @Html.TextBoxFor(k => k.ALISTARIHI, "{0: dd.MM.yyyy}", new { @class = "form-control" ,@readonly="true"})
        <br />
        <label>Beklenen İade Tarihi</label>
        @Html.TextBoxFor(k => k.IADETARIHI, "{0: dd.MM.yyyy}", new { @class = "form-control",@readonly="true" })
        <br />
        <label>İade Tarihi</label>
        <input type="text" class="form-control" name="UYEGETIRTARIH" value="@DateTime.Now.ToShortDateString()" readonly="true" />
        <br />
        <label>Geç Gelen Gün Sayısı</label>
        <input type="text"class="form-control" id="Gecinput" value="@ViewBag.dgr" />
        <br />
    </div>
    <div>
        <button class="btn btn-group" style="background-color:#ff0000; color:white">Kitabı Teslim Al</button>

    </div>
}

